.table{overflow-y: scroll !important;
    
    th{
        color:rgb(170, 132, 83);
        font-size: 27px;
    font-family: 'Gilda-Display' !important;
    
    }
    td{
        color:#222;
        font-size: 24px;
    font-family: 'Barlow';
    button{
        padding: 10px;
        width: 30px;
        font-family: 'Barlow-Condensed';
    }
    }

}
.tb{
.total{
    font-size: 25px !important;
    font-family: 'Gilda-Display';
}

}
.sub,.clear{
    border: none;
background-color: rgb(175, 137, 90) !important;
color: #fff !important;
font-size: 23px !important;
}

.emptytext{
    font-size: 3rem;
    font-family: 'Gilda-Display';
}