
 .dark{ transition: .6s;
  background-color: #222222;
  color: #eee;
  h1,h2,h3,h4,h5,h6,p,span,td{
    color:  #eee !important;
    
  }
  .card{background-color:#222222 !important;}
  .name,.as{color:  #000 !important;}
  .head{background-color:#222222 ;
  .aside-menu{background-color:#222222 !important;
   li{ a{color: #fff !important;}
    
   }}}
   .roomcont{background-color: #222222 !important;}
   .date-background{background-color: #222222 !important;
  .date-general-box{background-color:#222222 !important;}}
  .discover{
    background-color:#222222 !important;
  .bg{background-color:#222222 !important;}
  }
  }
 
 .light{transition: .6s;
  background-color: #eee;
  color: #222222;
  
 }