.wimg{
    height: 100% !important;
    width: 130%;
}
.wtitle{
    color: #388aaa;
    font-size: 1.5rem;
    font-family: 'Gilda-Display';
}
.wnum{
    span{
        color: #388aaa;
    font-size: 1.2rem;
    font-family: 'Gilda-Display';
    }
    font-size: 1rem;
    font-family: 'Barlow';
}
.vbtn{
    background-color:#388aaa9a !important; 
    border: none;
padding: 6px;
color: #AA8453 !important;
font-size: 1rem;
font-family: 'Barlow';
}